.container .tbtn{
    color: white;
    background: rgba(70, 70, 70, 0.233);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5vw;
    border-radius: 5px;
    width: 10%;
    z-index: 1;
}
.Managers{
    margin-left: .25%;
}
.container .tbtn:hover{
    background: rgba(70, 70, 70, 0.753);
    cursor: pointer;
}
body{
  font-family: sans-serif;
}
.container .tbtn:active{
    color: Black;
    background: rgba(70, 70, 70, 0.753);
    cursor: pointer;
}
tbody{
  font-family: Arial, Helvetica, sans-serif;
}
.container table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
    z-index: 2;
    font-size: 10px;
  }
.container table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
  }
.container table tr {
    background: #f8f8f8a8;
    border: 1px solid #ddd;
    padding: .35em;
  }
  table th,
  table td {
    overflow: hidden;
    padding: .625em;
    text-align: center;
  }
  table th {
    color: white;
    background-color: #333;
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }
  @media screen and (max-width: 700px) {
    body{
        background-size: cover;
    }
    .container .tbtn{
        color: white;
        background: rgba(70, 70, 70, 0.233);
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 1.5em;
        border-radius: 5px;
        width: 30%;
        z-index: 1;
    }
    .Managers{
        margin-left: .25%;
    }
    .container .tbtn:hover{
        background: rgba(70, 70, 70, 0.753);
        cursor: pointer;
    }
    .container .tbtn:active{
        color: Black;
        background: rgba(70, 70, 70, 0.753);
        cursor: pointer;
    }
    table {
      border: 0;
    }
    table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    table tr {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: .625em;
    }
    table td {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: .8em;
      text-align: right;
    }
    table td:before {
      /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }
    table td:last-child {
      border-bottom: 0;
    }
  }
  .table-manager .row100:hover td {
    background-color: #555;
    color: #fff;
  }
  .table-manager .row100 td:hover {
    background-color: #333;
    color: #fff;
  }
  .table-manager .column th:hover {
    background-color: #333;
  }